@use "darkmode.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}

//home section 2
.section2 {
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #09070c 22%, #201335 100%);
    padding-bottom: 40px;
    &__headerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__rabbitIcon {
        margin-bottom: 24px;
      }

      &__header {
        margin-bottom: 24px;

        h2 {
          font-size: 40px;
          font-weight: bold;
          color: var(--colors-text);
        }
      }

      &__text {
        margin-bottom: 20px;

        p {
          font-weight: 400;
          color: #b8add2;
        }
      }

      &__text2 {
        margin-bottom: 32px;
        color: #b8add2;

        p {
          font-weight: 600;
          color: #b8add2;
        }
      }
    }

    &__cardsContainer {
      display: flex;
      gap: 1rem;
      height: 500px;
      width: 878px;
      height: 285px;

      &__card1 {
        display: flex;
        flex-direction: column;
        background-color: var(--colors-backgroundAlt);
        border-radius: 24px;
        height: 100%;
        width: 100%;
        padding: 24px;
        border: 1px solid var(--colors-cardBorder);

        svg {
          fill: var(--colors-secondary);
          align-self: flex-end;
          margin-bottom: 60px;
        }

        h2 {
          font-size: 40px;
          color: var(--colors-text);

          span {
            font-size: 40px;
            color: var(--colors-secondary);
          }
        }

        p {
          margin-top: 24px;
          font-weight: 400;
          color: #b8add2;
        }
      }

      &__card2 {
        @extend .section2__main__cardsContainer__card1;

        svg {
          fill: var(--colors-primary);
          align-self: flex-end;
          margin-bottom: 60px;
        }

        h2 {
          font-size: 40px;
          color: var(--colors-text);

          span {
            font-size: 40px;
            color: var(--colors-primary);
          }
        }
      }

      &__card3 {
        @extend .section2__main__cardsContainer__card1;

        svg {
          fill: var(--colors-failure);
          align-self: flex-end;
          margin-bottom: 60px;
        }

        h2 {
          font-size: 40px;
          color: var(--colors-text);

          span {
            font-size: 40px;
            color: var(--colors-failure);
          }
        }
      }
    }
  }
}

@media (max-width: 852px) {
  .section2__main__cardsContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-bottom: 40px;
    &__card1 {
      height: 200px;
      svg {
        margin-bottom: 0px;
      }
    }
  }
}

@media (max-width: 450px) {
  .section2__main__cardsContainer__card1 {
    width: 300px;
  }
}
