:root {
  --colors-white: #fff;
  --colors-failure: #ed4b9e;
  --colors-failure33: #ed4b9e33;
  --colors-primary: #1fc7d4;
  --colors-primary0f: #1fc7d40f;
  --colors-primary3D: #1fc7d43d;
  --colors-primaryBright: #53dee9;
  --colors-primaryDark: #0098a1;
  --colors-success: #31d0aa;
  --colors-success19: #31d0aa19;
  --colors-warning: #ffb237;
  --colors-warning2D: #ed4b9e2d;
  --colors-warning33: #ed4b9e33;
  --colors-binance: #f0b90b;
  --colors-overlay: #452a7a;
  --colors-gold: #ffc700;
  --colors-silver: #b2b2b2;
  --colors-bronze: #e7974d;
  --colors-secondary: #9a6aff;
  --colors-secondary80: #9a6aff80;
  --colors-background: #08060b;
  --colors-backgroundDisabled: #3c3742;
  --colors-backgroundAlt: #27262c;
  --colors-backgroundAlt2: rgba(39, 38, 44, 0.7);
  --colors-cardBorder: #383241;
  --colors-contrast: #fff;
  --colors-dropdown: #1e1d20;
  --colors-dropdownDeep: #100c18;
  --colors-invertedContrast: #191326;
  --colors-input: #372f47;
  --colors-inputSecondary: #262130;
  --colors-tertiary: #353547;
  --colors-text: #f4eeff;
  --colors-text99: #f4eeff99;
  --colors-textDisabled: #666171;
  --colors-textSubtle: #b8add2;
  --colors-disabled: #524b63;
  --colors-gradientBubblegum: linear-gradient(139.73deg, #313d5c, #3d2a54);
  --colors-gradientInverseBubblegum: linear-gradient(139.73deg,
      #3d2a54,
      #313d5c);
  --colors-gradientCardHeader: linear-gradient(166.77deg, #3b4155, #3a3045);
  --colors-gradientBlue: linear-gradient(180deg, #00707f, #19778c);
  --colors-gradientViolet: linear-gradient(180deg, #6c4999, #6d4db2);
  --colors-gradientVioletAlt: linear-gradient(180deg, #434575, #66578d);
  --colors-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --colors-gradientBold: linear-gradient(#53dee9, #9a6aff);
  --shadows-inset: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
}

html[data-theme=dark] {
  --colors-white: #fff;
  --colors-failure: #ed4b9e;
  --colors-failure33: #ed4b9e33;
  --colors-primary: #1fc7d4;
  --colors-primary0f: #1fc7d40f;
  --colors-primary3D: #1fc7d43d;
  --colors-primaryBright: #53dee9;
  --colors-primaryDark: #0098a1;
  --colors-success: #31d0aa;
  --colors-success19: #31d0aa19;
  --colors-warning: #ffb237;
  --colors-warning2D: #ed4b9e2d;
  --colors-warning33: #ed4b9e33;
  --colors-binance: #f0b90b;
  --colors-overlay: #452a7a;
  --colors-gold: #ffc700;
  --colors-silver: #b2b2b2;
  --colors-bronze: #e7974d;
  --colors-secondary: #9a6aff;
  --colors-secondary80: #9a6aff80;
  --colors-background: #08060b;
  --colors-backgroundDisabled: #3c3742;
  --colors-backgroundAlt: #27262c;
  --colors-backgroundAlt2: rgba(39, 38, 44, 0.7);
  --colors-cardBorder: #383241;
  --colors-contrast: #fff;
  --colors-dropdown: #1e1d20;
  --colors-dropdownDeep: #100c18;
  --colors-invertedContrast: #191326;
  --colors-input: #372f47;
  --colors-inputSecondary: #262130;
  --colors-tertiary: #353547;
  --colors-text: #f4eeff;
  --colors-text99: #f4eeff99;
  --colors-textDisabled: #666171;
  --colors-textSubtle: #b8add2;
  --colors-disabled: #524b63;
  --colors-gradientBubblegum: linear-gradient(139.73deg, #313d5c, #3d2a54);
  --colors-gradientInverseBubblegum: linear-gradient(139.73deg,
      #3d2a54,
      #313d5c);
  --colors-gradientCardHeader: linear-gradient(166.77deg, #3b4155, #3a3045);
  --colors-gradientBlue: linear-gradient(180deg, #00707f, #19778c);
  --colors-gradientViolet: linear-gradient(180deg, #6c4999, #6d4db2);
  --colors-gradientVioletAlt: linear-gradient(180deg, #434575, #66578d);
  --colors-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --colors-gradientBold: linear-gradient(#53dee9, #9a6aff);
}

html[data-theme=light] {
  --colors-white: #fff;
  --colors-failure: #ed4b9e;
  --colors-failure33: #ed4b9e33;
  --colors-primary: #1fc7d4;
  --colors-primary0f: #1fc7d40f;
  --colors-primary3D: #1fc7d43d;
  --colors-primaryBright: #53dee9;
  --colors-primaryDark: #0098a1;
  --colors-success: #31d0aa;
  --colors-success19: #31d0aa19;
  --colors-warning: #ffb237;
  --colors-warning2D: #ed4b9e2d;
  --colors-warning33: #ed4b9e33;
  --colors-binance: #f0b90b;
  --colors-overlay: #452a7a;
  --colors-gold: #ffc700;
  --colors-silver: #b2b2b2;
  --colors-bronze: #e7974d;
  --colors-secondary: #7645d9;
  --colors-secondary80: #7645d980;
  --colors-background: #faf9fa;
  --colors-backgroundDisabled: #e9eaeb;
  --colors-backgroundAlt: #fff;
  --colors-backgroundAlt2: hsla(0, 0%, 100%, 0.7);
  --colors-cardBorder: #e7e3eb;
  --colors-contrast: #191326;
  --colors-dropdown: #f6f6f6;
  --colors-dropdownDeep: #eee;
  --colors-invertedContrast: #fff;
  --colors-input: #eeeaf4;
  --colors-inputSecondary: #d7caec;
  --colors-tertiary: #eff4f5;
  --colors-text: #280d5f;
  --colors-text99: #280d5f99;
  --colors-textDisabled: #bdc2c4;
  --colors-textSubtle: #7a6eaa;
  --colors-disabled: #e9eaeb;
  --colors-gradientBubblegum: linear-gradient(139.73deg, #e5fdff, #f3efff);
  --colors-gradientInverseBubblegum: linear-gradient(139.73deg,
      #f3efff,
      #e5fdff);
  --colors-gradientCardHeader: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
  --colors-gradientBlue: linear-gradient(180deg, #a7e8f1, #94e1f2);
  --colors-gradientViolet: linear-gradient(180deg, #e2c9fb, #cdb8fa);
  --colors-gradientVioletAlt: linear-gradient(180deg, #cbd7ef, #9a9fd0);
  --colors-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --colors-gradientBold: linear-gradient(#53dee9, #7645d9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}

a {
  text-decoration: none;
}



.section2__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2__main__headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section2__main__headerContainer__rabbitIcon {
  margin-bottom: 24px;
}

.section2__main__headerContainer__header {
  margin-bottom: 24px;
}

.section2__main__headerContainer__header h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--colors-text);
}

.section2__main__headerContainer__text {
  margin-bottom: 20px;
}

.section2__main__headerContainer__text p {
  font-weight: 400;
}

.section2__main__headerContainer__text2 {
  margin-bottom: 32px;
}

.section2__main__headerContainer__text2 p {
  font-weight: 600;
}

.section2__main__cardsContainer {
  display: flex;
  gap: 1rem;
  height: 500px;
  width: 878px;
  height: 285px;
}

.section2__main__cardsContainer__card1,
.section2__main__cardsContainer__card3,
.section2__main__cardsContainer__card2 {
  display: flex;
  flex-direction: column;
  background-color: var(--colors-backgroundAlt);
  border-radius: 24px;
  height: 100%;
  width: 100%;
  padding: 24px;
  border: 1px solid var(--colors-cardBorder);
}

.section2__main__cardsContainer__card1 svg,
.section2__main__cardsContainer__card3 svg,
.section2__main__cardsContainer__card2 svg {
  fill: var(--colors-secondary);
  align-self: flex-end;
  margin-bottom: 60px;
}

.section2__main__cardsContainer__card1 h2,
.section2__main__cardsContainer__card3 h2,
.section2__main__cardsContainer__card2 h2 {
  font-size: 40px;
  color: var(--colors-text);
}

.section2__main__cardsContainer__card1 h2 span,
.section2__main__cardsContainer__card3 h2 span,
.section2__main__cardsContainer__card2 h2 span {
  font-size: 40px;
  color: var(--colors-secondary);
}

.section2__main__cardsContainer__card1 p,
.section2__main__cardsContainer__card3 p,
.section2__main__cardsContainer__card2 p {
  margin-top: 24px;
  font-weight: 400;
}

.section2__main__cardsContainer__card2 svg {
  fill: var(--colors-primary);
  align-self: flex-end;
  margin-bottom: 60px;
}

.section2__main__cardsContainer__card2 h2 {
  font-size: 40px;
  color: var(--colors-text);
}

.section2__main__cardsContainer__card2 h2 span {
  font-size: 40px;
  color: var(--colors-primary);
}

.section2__main__cardsContainer__card3 svg {
  fill: var(--colors-failure);
  align-self: flex-end;
  margin-bottom: 60px;
}

.section2__main__cardsContainer__card3 h2 {
  font-size: 40px;
  color: var(--colors-text);
}

.section2__main__cardsContainer__card3 h2 span {
  font-size: 40px;
  color: var(--colors-failure);
}

/*# sourceMappingURL=style.css.map */