.container-carousel {
    width: 75%;
    height: 12.5rem;
    margin: auto;
    
}

.mySlides {
    width: 100%;
    height: 100%;

}

/* FIRST SLIDE CAROUSEL */
.backgorundFirst-section{
    padding-top: 100px;
    background: radial-gradient(103.12%50%at 50%50%,#21193a 0%,#191326 100%);
    height: 100%
}

.first-slide {
    border-radius: 35px;
    margin: auto;
    
    background: linear-gradient(189.57deg, rgb(232, 250, 254) -83.55%, rgb(182, 228, 255) -40.3%, rgb(204, 194, 254) 123.53%, rgb(198, 163, 255) 176.26%);
    display: flex;
    overflow: hidden;
}

.first-slide-left-content {
    padding: 1.2% 0 0 2%;
    width: 60%;
    height: 100%;
}

#logos-slide1 {
    width: 400px;
}

.first-slide-left-content p:nth-child(2) {
    margin: 10px 0;
    font-weight: bold;
    font-size: 22px;
    color: rgb(10, 17, 43);
}

.first-slide-left-content p:nth-child(3) {
    margin: 10px 0;
    font-size: 22px;
    color: rgb(185, 157, 0);
    text-shadow:
        -1px 0px 0px rgb(197, 25, 254),
        1px 0px 0px rgb(197, 25, 254),
        0px -1px 0px rgb(197, 25, 254),
        0px 1px 0px rgb(197, 25, 254);
}

/* RIGHT CONTENT FIRST SLIDE */

.first-slide-right-content {
    width: 45%;
    height: 100%;
    border-radius: 35px;
    background: transparent;
}

#bunny-photo-slide1 {
  z-index: 0;
  position: absolute;
  height: 200px;
  width: 20%;
  right: 17%;
}

#bunny-photo-slide1 img {
    position: relative;
    width: 100%;
    height: 232px;
    z-index: 1000;
    bottom: 16%;
      
  }


#topCoin-slide1 {
    position: absolute;
    width: 10%;
    height: 200px;
}

#topCoin-slide1 img {
    position: relative;
    right: 40%;
    width: 80%;
    
}

#rightCoin-slide1 {
    position: absolute;
    width: 13%;
    right: 12.5%;
    height: 200px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
    
}

#rightCoin-slide1 img {
    position: relative;
    width: 40%;
    top: 50%;
    left: 63%;
    z-index: 1000;
    height: 100px;

}

@keyframes fadeCoinSlide1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

#upStar-carousel1 {
    position: absolute;
    width: 13%;
    height: 200px;
}

#upStar-carousel1 img {
    position: relative;
    width: 12%;
    right: 16%;
    top: 25%;
    animation: fadeCoinSlide1 2s ease-in-out infinite;
}

#rightStar-carousel1 {
    position: absolute;
    width: 13%;
    height: 200px;

}

#rightStar-carousel1 img {
    position: relative;
    width: 23%;
    top: 45%;
    left: 18%;
    animation: fadeCoinSlide1 3s ease-in-out infinite;
}




/* BUTTON FIRST SLIDE */
.btn__dark__rounded_carousel_getStarted {
    border-radius: 15px;
    padding: 1rem 1rem;
    border-style: none;
    background-color: #1fc7d4;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
}

.btn__dark__rounded_carousel_getStarted:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded_carousel_getStarted>a {
    text-decoration: none;
    color: #191326;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.btn__dark__rounded_carousel_getStarted>a>svg {
    fill: #191326;
}

.btn__dark__rounded_carousel_learn {
    border-radius: 15px;
    padding: 1rem 1rem;
    border-style: none;
    background-color: white;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 1rem;
    height: 50px;
}

.btn__dark__rounded_carousel_learn:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded_carousel_learn>a {
    text-decoration: none;
    color: #191326;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #1fc7d4;
}

.btn__dark__rounded_carousel_learn>a>svg {
    fill: #191326;
}


/* ----------------------------------------------------- */

/* SECOND SLIDE CAROUSEL */

.second-slide {
    background: linear-gradient(239.62deg, rgba(49, 78, 119, 0.35) 15.52%, rgba(60, 46, 87, 0.35) 86.5%), linear-gradient(114.79deg, rgb(192, 64, 252) -17.76%, rgb(75, 60, 255) 99.88%);
    border-radius: 35px;
    margin: auto;
    
    display: flex;
}

.second-slide-left-content {
    width: 50%;
    height: 100%;
    padding: 2% 0 0 2%;
}

.slide2-logoP-h1 {
    display: flex;
    flex-direction: column;
}

.second-slide-left-content h1 {
    color: rgb(255, 217, 0);
    text-shadow:
        -1px 0px 0px rgb(197, 25, 254),
        1px 0px 0px rgb(197, 25, 254),
        0px -1px 0px rgb(197, 25, 254),
        0px 1px 0px rgb(197, 25, 254);
    font-weight: 700;
    font-size: 36px;
}

.second-slide-left-content div {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.second-slide-left-content p {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.second-slideLogo {
    width: 20px;

}

.second-slide-left-content button {
    margin: 20px 0 0 10px;
}



.btn__dark__rounded_carousel_discoverV3 {
    border-radius: 10px;
    padding: 1rem 1rem;
    border-style: none;
    background-color: #1fc7d4;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
}

.btn__dark__rounded_carousel_discoverV3:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded_carousel_discoverV3>a {
    text-decoration: none;
    color: #191326;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: 700;
}

.btn__dark__rounded_carousel_discoverV3>a>svg {
    fill: #191326;
}


/*  SECOND SLIDE RIGHT CONTENT */



@keyframes coin-bounce {
    0% {
        transform: translateX(0px);
        transform: translateY(0px);
    }

    50% {
        transform: translateX(10px);
        transform: translateY(3px);
    }

    100% {
        transform: translateX(0px);
        transform: translateY(0px);
    }

}



@keyframes flag-bounce {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px);
    }
}

.second-slide-right-content {
    width: 50%;
    height: 100%;
    
}

.moon-photo-slide2 {
    width: 50%;
    position: absolute; 
    
}

.moon-photo-slide2 img {
    width: 80%;
    position: relative;
    height: 201px;
    bottom: 1px;
    right: 5%;
    
}



.flag-photo-slide2 {
    width: 13%;
    right: 10%;
    position: absolute;
    
}

.flag-photo-slide2 img {
    width: 75%;
    height: 180px;
    position: relative;
    right: 33%;
    animation: flag-bounce 3s ease-in-out infinite;
}


.criptoCoin-photo-slide2 {
    position: absolute;
    height: 20%;
    width: 15%;
    right: 10%;
    
}

.criptoCoin-photo-slide2 img {
    animation: coin-bounce 5s ease-in-out infinite;
    position: relative;
    right: 3%;
    top: 10%;
    z-index: 300;
    width: 80%;
    height: 110px;
}


.eterniumCoin-photo-slide2 {
    position: absolute;
    height: 20%;
    width: 20%;
    

}

.eterniumCoin-photo-slide2 img {
    
    animation: coin-bounce 5s ease-in-out infinite;
    position: relative;
    right: 30%;
    bottom: 10%;
    z-index: 300;
    width: 80%;
    height: 200px;

}

.bunny-photo-slide2 {
    position: absolute;
    height: 20%;
    width: 20%;
    right: 10%;
    
}

.bunny-photo-slide2 img {
    position: relative;
    right: 40%;
    bottom: 26%;
    z-index: 300;
    height: 270px;
}
    



/* THIRD SLIDE CAROUSEL */

.third-slide {
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
    background: linear-gradient(261.24deg, rgba(158, 63, 253, 0.12) 27.61%, rgba(98, 61, 255, 0.25) 76.11%), linear-gradient(247.24deg, rgb(83, 222, 233) -16.43%, rgb(168, 129, 252) 92.15%);
    color: white;
    display: flex;
}

.third-slide-left-content {
    width: 70%;
    padding: 15px 0 0 15px;
}

.third-slide-left-content h1 {
    font-size: 36px;
}

.third-slide-left-content h2 {
    margin-top: 10px;
    
}

/* BUTTON */
.btn__dark__rounded_carousel_proceed {
    border-radius: 15px;
    padding: 1rem 1.5rem;
    border-style: none;
    background-color: #1fc7d4;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 1rem;
    height: 50px;
}

.btn__dark__rounded_carousel_proceed:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded_carousel_proceed>a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.btn__dark__rounded_carousel_proceed>a>svg {
    fill: #ffffff;
}

.btn__dark__rounded_carousel_guide {
    margin-top: 20px;
    border-radius: 10px;
    padding: 1rem 1rem;
    border-style: none;
    background-color: white;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
}

.btn__dark__rounded_carousel_guide:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded_carousel_guide>a {
    text-decoration: none;
    color: #1fc7d4;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    
}

.btn__dark__rounded_carousel_guide>a>svg {
    fill: #1fc7d4;
}

.third-slide-right-content {
    width: 30%;
}

#bunny-photo-slide3 {
    
    position: absolute;
    height: 200px;
    width: 22%;
    
}

#bunny-photo-slide3 img{
    position: relative;
    height: 230px;
    bottom: 15%;
    width: 100%;
}


/* FOURTH SLIDE CAROUSEL  */

.fourth-slide {
    background: linear-gradient(128.04deg, rgb(187, 211, 251) -23.79%, rgb(75, 60, 255) 121.4%);
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
    display: flex;
}

.fourth-slide-left-content {
    width: 30%;
    height: 100px;
    padding: 20px 0 0 20px;
}

.logo-fourth-slide-carousel img {
    width: 65%;
}

.fourth-slide-left-content h1 {
    font-size: 32px;
    font-weight: 900;
    color: white;
}

/* BUTTON 4th slide */

.btn__dark__rounded_carousel_getInTouch {
    margin-top: 20px;
    border-radius: 10px;
    padding: 1rem 1rem;
    border-style: none;
    background-color: #1fc7d4;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
}

.btn__dark__rounded_carousel_getInTouch:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded_carousel_getInTouch>a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    
}

.btn__dark__rounded_carousel_getInTouch>a>svg {
    fill: #000000;
}

/* CAROUSEL 4 SLIDE RIGHT CONTENT  */

.fourth-slide-right-content {
    width: 100%;
    
}

#bunny-slide4 {
    height: 200px;
    width: 100%;
   
}

#bunny-slide4 img {
   height: 240px;
   width: 100%;
   position: relative;
   bottom: 10%;
}

/* FIFTH SLIDE CAROUSEL */

.fifth-slide {
    background: rgb(27, 31, 75);
    background: linear-gradient(0deg, rgba(27, 31, 75, 1) 4%, rgba(56, 14, 112, 1) 20%);
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
    display: flex;
}

.fifth-slide-left-content {
    width: 40%;
    padding: 20px 0 0 30px;

}

.fifth-slide-left-content h2 {
    color: rgb(255, 217, 0);
    font-size: 26px;
    font-weight: 800;
}

.fifth-slide-left-content h1 {
    color: white;
    font-size: 30px;
    font-weight: 800;
    margin-top: 5px;
}



/* BUTTON */
.btn__dark__rounded5 {
    margin-top: 10px;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    border-style: none;
    background-color: #1fc7d4;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 1.5rem;
    height: 50px;
}

.btn__dark__rounded5:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded5>a {
    text-decoration: none;
    color: #191326;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.btn__dark__rounded5>a>svg {
    fill: #191326;
}

/* FIFTH SLIDE CAROUSEL RIGHT CONTENT */

.fifth-slide-right-content {
    width: 60%;
}

.bunny-photo-slide5 {
    height: 200px;
    
}

.bunny-photo-slide5 img {
    position: relative;
    bottom: 21%;
    height: 121%;
    left: 40%;
    width: 60%;
}



/* BUTTONS CAROUSEL SLIDES  */

.container-carousel-buttons {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 2000;
}

.first-carousel-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-carousel-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}




/* ALL CAROUSEL BUTTONS SLIDE */

.carousel-buttons {
    cursor: pointer;
    height: 9px;
    width: 22px;
    margin-left: -4.4px;
    position: relative;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.363);
    display: inline-block;

}

.active,
.carousel-button:hover {
    background-color: #fff8f8;
}
