body {
  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes bounce {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(-7px, -7px);
    }
    100% {
      transform: translate(0px);
    }
  }
  #moon-pancake {
    display: flex;
    justify-content: center;
    margin: 8%;
    .moon-text {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      margin-top: 10%;
      #moon-title {
        font-size: 64px;
        font-weight: 600;
        color: #9a6aff;
        margin-top: 0px;
        margin-bottom: 24px;
      }
      #moon-title2 {
        font-size: 20px;
        font-weight: 600;
        color: #f4eeff;
        margin-top: 0px;
        margin-bottom: 24px;
      }
      .moon-btn {
        #wallet-btn {
          background-color: #1fc7d4;
          color: #191326;
          font-size: 16px;
          font-weight: 600;
          border: 0px;
          padding: 16px 24px;
          border-radius: 16px;
          margin-right: 5px;
          cursor: pointer;
        }
        #wallet-btn:hover {
          background-color: #0098a1;
          transition: 0.2s;
        }
        #trade-btn {
          background-color: #191326;
          color: #1fc7d4;
          border: 2px solid #1fc7d4;
          font-size: 16px;
          font-weight: 600;
          padding: 16px 24px;
          border-radius: 16px;
          cursor: pointer;
        }
        #trade-btn:hover {
          color: #0098a1;
          border-color: #0098a1;
          transition: 0.2s;
        }
      }
    }
    .bunny-container {
      display: flex;
      flex: 1 1 0%;
      .bunny-img {
        animation: bounce 3.5s ease-in-out 0s infinite;
        #astro-bunny {
          position: absolute;
          width: 576px;
          height: 576px;
        }
      }
      .star-container {
        position: absolute;
        .star-flex {
          position: relative;
          max-height: 512px;
        }
        .top-right-star {
          position: absolute;
          top: 0px;
          left: 0px;
          animation: fade 2.5s ease-in-out 0.33s infinite;
        }
        .left-star {
          position: absolute;
          top: 0px;
          left: 0px;
          animation: fade 2s ease-in-out 1s infinite;
        }
        .right-star {
          position: absolute;
          top: 0px;
          left: 0px;
          animation: fade 5s ease-in-out 1s infinite;
        }
      }
    }
  }
}

// --Scroll to top button
.scroll-top {
  display: inline;
  position: absolute;
  right: 5%;
  #btnTop {
    background-color: #1fc7d4;
    border: 0px;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    cursor: pointer;
    #arrow {
      width: 30px;
      height: 30px;
      margin-top: 10px;
      margin-left: 5px;
    }
  }
  #btnTop:hover {
    background-color: #0098a1;
    transition: 0.2s;
  }
}
// --Media queries first astro-bunny
@media (max-width: 852px) {
  #moon-pancake {
    display: flex;
    flex-direction: column;
    .bunny-container {
      position: relative;
    }
  }
}
