* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #b8add2
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
    width: 100%;
    height: 56px;
    background-color: #27262c;
    border-bottom: 3px solid #452a7a;
    padding-left: 16px;
    padding-right: 16px;
    color: #b8add2;
    transition: transform 0.5s;
}

/* ------------JAVASCRIPT------------- */

.hiddenNav {
    transform: translateY(-56px);
    box-shadow: none;
}

/* ----------------------------------- */

/* SVG */

.walletSvgAnimated:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.svgDropBar {
    fill: #b8add2;
}

.svgDropBar:hover {
    fill: #9c92b3;
}

hr {
    border-color: #383241;
    border-style: solid;
    border-width: 1px 0px 0px;
    margin: 4px 0px;
}

/* LEFT ELEMENTS */

.leftElementsContainer {
    display: flex;
    align-items: center;
}

.logoNavbar {
    fill: #f4eeff;
}

/* TRADE */

.trade {
    cursor: pointer;
    color: #b8add2;
    background-color: #27262c;
    border: none;
    margin-left: 20px;
    padding: 0px 15px;
}

.trade:hover {
    background-color: #353547;
    border-radius: 20px;
    padding: 15px;
}

.tradeDropdownContainer {
    position: relative;
    display: inline-block;
    background-color: #27262c;
    border: 1px solid #27262c;
    border-radius: 16px;

}

.tradeDropdownContent {
    display: none;
    position: absolute;
    border: 1px solid #383241;
    border-radius: 16px;
    background-color: #27262c;
    margin-top: 5px;
    width: 280px;
}

.test {
    display: flex;
    flex-direction: column;
    width: 280px;
    cursor: pointer;
    margin: 16px 0px;
}

.tradeElements {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.tradeElements:hover {
    background-color: #353547;
}

.tradeLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tradeDropdownContainer:hover .tradeDropdownContent {
    display: block;
}



/* EARN */
.earn {
    cursor: pointer;
    color: #b8add2;
    background-color: #27262c;
    border: none;
    margin-left: 20px;
    padding: 0px 15px;
}

.earn:hover {
    background-color: #353547;
    border-radius: 20px;
    padding: 15px;
}

.earnDropdownContainer {
    position: relative;
    display: inline-block;
    background-color: #27262c;
    border: 1px solid #27262c;
    border-radius: 16px;

}

.earnDropdownContent {
    display: none;
    position: absolute;
    border: 1px solid #383241;
    border-radius: 16px;
    background-color: #27262c;
    margin-top: 5px;
    width: 280px;
}

.earnElements {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.earnLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.earnDropdownContainer:hover .earnDropdownContent {
    display: block;
}

.earnElements:hover {
    background-color: #353547;
}

/* WIN */
.win {
    cursor: pointer;
    color: #b8add2;
    background-color: #27262c;
    border: none;
    margin-left: 20px;
    padding: 0px 15px;
}

.win:hover {
    background-color: #353547;
    border-radius: 20px;
    padding: 15px;
}

.winDropdownContainer {
    position: relative;
    display: inline-block;
    background-color: #27262c;
    border: 1px solid #27262c;
    border-radius: 16px;

}

.winDropdownContent {
    display: none;
    position: absolute;
    border: 1px solid #383241;
    border-radius: 16px;
    background-color: #27262c;
    margin-top: 5px;
    width: 280px;
}

.winElements {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.winLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.winDropdownContainer:hover .winDropdownContent {
    display: block;
}

.winElements:hover {
    background-color: #353547;
}


/* NFT */
.nft {
    cursor: pointer;
    color: #b8add2;
    background-color: #27262c;
    border: none;
    margin-left: 20px;
    padding: 0px 15px;
}

.nft:hover {
    background-color: #353547;
    border-radius: 20px;
    padding: 15px;
}

.nftDropdownContainer {
    position: relative;
    display: inline-block;
    background-color: #27262c;
    border: 1px solid #27262c;
    border-radius: 16px;
}

.nftDropdownContent {
    display: none;
    position: absolute;
    border: 1px solid #383241;
    border-radius: 16px;
    background-color: #27262c;
    margin-top: 5px;
    width: 280px;
}

.nftElements {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.nftLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nftDropdownContainer:hover .nftDropdownContent {
    display: block;
}

.nftElements:hover {
    background-color: #353547;
}

/* POINTS */
.points {
    cursor: pointer;
    color: #b8add2;
    background-color: #27262c;
    border: none;
    margin-left: 20px;
    padding: 0px 15px;
}

.points:hover {
    background-color: #353547;
    border-radius: 20px;
    padding: 15px;
}

.pointsDropdownContainer {
    position: relative;
    display: inline-block;
    background-color: #27262c;
    border: 1px solid #27262c;
    border-radius: 16px;
}

.pointsDropdownContent {
    display: none;
    position: absolute;
    border: 1px solid #383241;
    border-radius: 16px;
    background-color: #27262c;
    margin-top: 5px;
    width: 280px;
}

.pointsElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 48px;
}

.newPointsElement {
    border-radius: 16px;
    padding: 0px 8px;
    border-style: solid;
    border-width: 2px;
    border-image: none 100% / 1 / 0 stretch;
    border-color: #31d0aa;
    box-shadow: none;
    color: #31d0aa;
    margin-left: 8px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 14px;
}

/* .voteNowPointsElement {
    border-radius: 16px;
    padding: 0px 8px;
    border-style: solid;
    border-width: 2px;
    border-image: none 100% / 1 / 0 stretch;
    border-color: #31d0aa;
    box-shadow: none;
    color: #31d0aa;
    margin-left: 8px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 14px;
} */

.pointsLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pointsDropdownContainer:hover .pointsDropdownContent {
    display: block;
}

.pointsElements:hover {
    background-color: #353547;
}

/* RIGHT ELEMENTS */

.rightElementsContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

/* WALLET AMOUNT */
.walletAmount {
    display: flex;
    align-items: center;
    background-color: #27262c;
    border: 1px solid #27262c;
    border-radius: 16px;
}

.walletNavLink {
    padding-left: 4px;
}

/* LANGUAGE */
.language {
    cursor: pointer;
    background-color: #27262c;
    border: none;
    padding: 0px 16px;
    
}

.languageDropdownContainer {
    position: relative;
    display: inline-block;
    background-color: #27262c;
    border: 1px solid #27262c;
    border-radius: 16px;
    padding-left: 10px;

}

.languageDropdownContent {
    display: none;
    position: absolute;
    border: 1px solid #383241;
    border-radius: 16px;
    background-color: #27262c;
    margin-top: 14px;
    width: 280px;
    
    
}

.languageElements {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    
}

.languageElements:hover {
    background-color: #353547;
}

.languageDropdownContainer:hover .languageDropdownContent {
    display: block;
}

/* SETTING */
.settingIcon {
    cursor: pointer;
    color: #f4eeff;
    background-color: transparent;
    border: none;
}

/* NETWORKS */
.networkDropdownContainer {
    position: relative;
    display: inline-block;
    background-color: #27262c;
    border: 1px solid #27262c;
    border-radius: 16px;
    height: 100%;
    align-items: center;
}

.network {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #f4eeff;
    background-color: #353547;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0 15px 0 0;
    height: 60%;
}

.network:hover {
    color: #b8add2;
    opacity: 0.60;
    background-color: #353547;
    border-radius: 20px;
    padding: 0 15px 0 0;
}

.networkIcon {
    max-height: 30px;
}

.networkIconSpan2 {
    display: none;
}

.networkDropdownContent {
    display: none;
    position: absolute;
    border: 1px solid #383241;
    border-radius: 16px;
    background-color: #27262c;
    margin-top: 14px;
    width: 280px;
}

.networkElements {
    display: flex;
    align-items: center;
    color: #b8add2;
    background-color: #27262c;
    border: none;
    padding: 16px;
}

.networkElements:hover {
    background-color: #353547;
}

.networkElements1 {
    height: 35px;
    padding: 5px 16px 10px 16px;
    margin: 0;
}

.networkElements1:hover {
    background-color: #353547;
}

.networkImg {
    max-height: 24px;
}

.networkSpan {
    padding: 0 15px;
}

.networkDropdownContainer:hover .networkDropdownContent {
    display: block;
}

/* CONNECT WALLET BTN */
.walletNavBtnContainer {
    padding: 0 10px;
}

.walletNavBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1fc7d4;
    color: #191326;
    border: 0px none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    padding: 0px 16px;
    height: 32px;

}

.walletSpan2 {
    display: none;
}


/* MEDIA QUERIES */

@media (max-width: 1180px) {

    .networkIconSpan,
    .walletSpan {
        display: none;
    }

    .networkIconSpan2,
    .walletSpan2 {
        display: block;
    }
}

@media (max-width:870px) {

    .logoTitle,
    .walletAmount,
    .networkIconSpan {
        display: none;
    }

    .networkIconSpan2 {
        display: block;
    }
}

@media (max-width: 830px) {

    .trade,
    .earn,
    .win,
    .nft,
    .points,
    .logoTitle,
    .networkIconSpan {
        display: none;
    }

    .networkIconSpan2 {
        display: block;
    }

   
}

@media (max-width:450px){
    .rightElementsContainer{
    position: relative ;
    right: 120px;
    }
}

@media (max-width:380px){
    .rightElementsContainer{
        position: relative;
        right: 130px;
    }
}

@media (max-width:290px){
    .rightElementsContainer{
        position: relative;
        right: 120px;
    }

    .network{
        background-color: transparent ;
    }

    img.networkIcon{
        position: relative;
        left:5px;
    }

    .network > svg{
        display: none;
    }

    .network > span {
        display: none;
    }
}