* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.mainBuyCakeContainer {
  background-color: black;
  height: 110vh;
  padding: 2% 5%;
  margin-top: 5%;

}

.buyCakeContainer {
  margin: 5% 15% 0px;
  padding-top: 7%;
  display: flex;

}

.contentCakeSection {
  width: 50%;
  margin-left: 2%;
  height: 35vh;

}

.contentCakeSection h1 {
  font-size: 36px;
  font-weight: 900;
  color: white;

}

#cakeWord {
  color: #7c3fff;
  font-size: 38px;
  font-weight: 800;
}

.contentCakeSection p {
  color: #b9a5dd;
  margin-top: 15px;
}

.imgBunnyCoin {
  width: 50%;
  height: 40vh;

}

/* .imgBunnyCoin img {
    position: relative;
    left: 60%;
} */

@keyframes bunnyCoinBounce {
  0% {
    transform: translate(0px);

  }

  50% {
    transform: translate(-6px, -6px);

  }

  100% {
    transform: translate(0px);

  }

}

.bunnyCoin4section {
  width: 420px;
  position: relative;
  left: 7%;
  bottom: 445px;
  animation: bunnyCoinBounce 3s ease-in-out infinite;

}

.top-left-chip4section {
  width: 380px;
  position: relative;
  left: 10%;
  bottom: 850px;
  animation: bunnyCoinBounce 2s ease-in-out infinite;
}

.bot-right-chip4section {
  width: 390px;
  position: relative;
  left: 10%;
  bottom: 10%;
  animation: bounce 4s ease-in-out infinite;
}

.top-right-chip4section {
  width: 380px;
  position: relative;
  left: 14%;
  bottom: 76rem;
  animation: bounce 3s ease-in-out infinite;
}

.statsBuyCakeCoin {
  width: 67%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 80px;
  margin: auto;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}

.statsBuyCakeCoin p {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}


.statsBuyCakeCoin span {
  font-size: 20px;
}

.statsBuyCakeCoin h3 {
  font-size: 17px;
  color: #b9a5dd;
  font-weight: 800;
}

.statsBuyCakeCoin div {
  width: 100%;
}

.statsBuyCakeCoin .firstRowStats {
  display: flex;
}

.statsBuyCakeCoin .secondRowStats {
  display: flex;
}


.btn__dark__rounded {
  border-radius: 15px;
  padding: 1rem 1.5rem;
  margin-top: 30px;
  border-style: none;
  background-color: #1fc7d4;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  border-radius: 20px;


}

.btn__dark__rounded:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.btn__dark__rounded>a {
  text-decoration: none;
  color: #191326;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: rgb(0, 0, 0);
}



.btn__dark__rounded_scopri {

  padding: 1rem 1.5rem;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 1.5rem;
  height: 32px;
}

.btn__dark__rounded_scopri:hover {
  text-decoration: underline #1fc7d4;
}

.btn__dark__rounded_scopri>a {
  text-decoration: none;
  color: #191326;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #1fc7d4;
  font-size: 16px;

}

.btn__dark__rounded_scopri>a>svg {
  fill: #191326;
}

.btn__dark__rounded_scopri>a>svg {
  fill: #1fc7d4
}



/* MEDIA QUERIES  */

@media screen and (max-width: 850px) {
  .mainBuyCakeContainer {
    height: 45%;
  }

  .buyCakeContainer {
    margin: 0px;
    padding-top: 0%;
    display: flex;
    flex-direction: column-reverse;

  }

  .contentCakeSection {
    width: 100%;
    margin-left: 0%;
    height: 20vh;


  }

  .statsBuyCakeCoin {
    width: 60%;
    margin: 0px 17%;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
  }

  .imgBunnyCoin {
    width: 50%;
    height: 20vh;
    align-self: flex-end;

  }

  /* IMMAGINE BUNNY  */

  @keyframes bunnyCoinBounce {
    0% {
      transform: translate(0px);

    }

    50% {
      transform: translate(-6px, -6px);

    }

    100% {
      transform: translate(0px);

    }

  }

  .bunnyCoin4section {
    width: 210px;
    position: relative;
    bottom: 70%;
    left: 30%;
    animation: bunnyCoinBounce 3s ease-in-out infinite;

  }

  .top-left-chip4section {
    width: 190px;
    position: relative;
    left: 30%;
    bottom: 372px;
    animation: bunnyCoinBounce 2s ease-in-out infinite;

  }

  .bot-right-chip4section {
    width: 195px;
    position: relative;
    left: 35%;
    bottom: 0px;
    top: 40px;
    animation: bounce 4s ease-in-out infinite;
  }

  .top-right-chip4section {
    width: 190px;
    position: relative;
    left: 33%;
    bottom: 560px;
    animation: bounce 3s ease-in-out infinite;
  }

  /* stats media q */

  .statsBuyCakeCoin {

    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
  }

  .statsBuyCakeCoin p {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
  }


  .statsBuyCakeCoin span {
    font-size: 20px;
  }

  .statsBuyCakeCoin h3 {
    font-size: 17px;
    color: #b9a5dd;
    font-weight: 800;
  }

  .statsBuyCakeCoin div {
    width: 60%;

  }

  .statsBuyCakeCoin .firstRowStats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;

  }

  .statsBuyCakeCoin .secondRowStats {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 40%;
  }

  /* SMARTPHONE MEDIA QUERIES */

}

@media screen and (max-width: 400px) {
  .mainBuyCakeContainer {
    height: 100%;
  }

  .buyCakeContainer {
    margin: 0px;
    padding-top: 10%;
    display: flex;
    flex-direction: column-reverse;

  }

  .contentCakeSection {
    width: 100%;
    margin-left: 0%;
    height: 30vh;
  }

  .contentCakeSection h1 {
    font-size: 26px;
    font-weight: 800;
    color: white;
  
  }
  
  #cakeWord {
    color: #7c3fff;
    font-size: 30px;
    font-weight: 800;
  }
  
  .contentCakeSection p {
    color: #b9a5dd;
    margin-top: 15px;
    font-weight: 500;
  }

  .statsBuyCakeCoin {
    width: 60%;
    margin: 0px 17%;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
  }

  .imgBunnyCoin {
    width: 50%;
    height: 20vh;
    align-self: flex-end;

  }

  /* IMMAGINE BUNNY  */

  @keyframes bunnyCoinBounce {
    0% {
      transform: translate(0px);

    }

    50% {
      transform: translate(-6px, -6px);

    }

    100% {
      transform: translate(0px);

    }

  }

  .bunnyCoin4section {
    width: 200px;
    position: relative;
    bottom: 230px;
    left: -15px;
    
    animation: bunnyCoinBounce 3s ease-in-out infinite;

  }

  .top-left-chip4section {
    width: 190px;
    position: relative;
    left: -15px;
    bottom: 422px;
    animation: bunnyCoinBounce 2s ease-in-out infinite;

  }

  .bot-right-chip4section {
    width: 195px;
    position: relative;
    left: 0px;
    bottom: 100px;
    animation: bounce 4s ease-in-out infinite;
  }

  .top-right-chip4section {
    width: 190px;
    position: relative;
    left: 33%;
    bottom: 560px;
    animation: bounce 3s ease-in-out infinite;
  }

  /* stats media q */

  .statsBuyCakeCoin {

    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: auto;
    font-family: 'Kanit', sans-serif;
    
  }

  .statsBuyCakeCoin p {
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
  }


  .statsBuyCakeCoin span {
    font-size: 12px;
  }

  .statsBuyCakeCoin h3 {
    font-size: 15px;
    color: #b9a5dd;
    font-weight: 800;
  }

  .statsBuyCakeCoin div {
    width: 100%;
    
  }

  .statsBuyCakeCoin .firstRowStats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 43%;

  }

  .statsBuyCakeCoin .secondRowStats {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 40%;
  }


}