* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-carousel {
    width: 1124px;
    height: 12.5rem;
    margin: 100px auto;
}

.mySlides {
    width: 100%;
    height: 100%;

}

/* FIRST SLIDE CAROUSEL */

.first-slide {
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
    background: linear-gradient(189.57deg, rgb(232, 250, 254) -83.55%, rgb(182, 228, 255) -40.3%, rgb(204, 194, 254) 123.53%, rgb(198, 163, 255) 176.26%);
}

#logos-slide1 {
    width: 400px;
    margin: 22px 25px;
    position: absolute;
}

.first-slideText{
    position: absolute;
    
}


#bunny-photo-slide1 {
    width: 350px;
    position: relative;
    bottom: 33px;
    left: 730px;

}

#topCoin-slide1 {
    width: 140px;
    position: relative;
    bottom: 176px;
    left: 185px;
}

.rightCoin-div {

    width: 1124px;
    border-radius: 35px;
    position: relative;
    bottom: 145px;
    text-align: right;
    overflow: hidden;
    background: transparent;
}

#rightCoin-slide1 {
    width: 80px;
}

#upStar-carousel1 {
    width: 25px;
    position: relative;
    bottom: 150px;
    left: 45px;
}

#rightStar-carousel1 {
    width: 40px;
    position: relative;
    bottom: 110px;
    left: 110px;
}

#firstSlide-texts {
    position: relative;
    bottom: 170px;
    left: 25px;
}

/* BUTTON */
.btn__dark__rounded {
    
    margin-top: 50px;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    border-style: none;
    background-color: #1fc7d4;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 1.5rem;
    height: 50px;
}

.btn__dark__rounded:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded>a {
    text-decoration: none;
    color: #191326;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.btn__dark__rounded>a>svg {
    fill: #191326;
}



/* SECOND SLIDE CAROUSEL */

.second-slide {
    background: linear-gradient(239.62deg, rgba(49, 78, 119, 0.35) 15.52%, rgba(60, 46, 87, 0.35) 86.5%), linear-gradient(114.79deg, rgb(192, 64, 252) -17.76%, rgb(75, 60, 255) 99.88%);
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
    position: relative;
}

.second-slideLogo {
    width: 20px;
}

.second-slideLogoText {
    display: flex;
    margin-top: 60px;
    margin-left: 20px;
}

.v3-textTop {
    padding: 30px 0 0 20px;


}

.v3-textBot {
    margin-left: 10px;
}

.moon-photo-slide2 {
    position: absolute;
    bottom: 0px;
    width: 621px;
    left: 503px;

}

@keyframes flag-bounce {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px);
    }
}

.flag-photo-slide2 {
    position: absolute;
    bottom: 0px;
    width: 171px;
    right: 60px;
    animation: flag-bounce 3s ease-in-out infinite;
}

@keyframes coin-bounce {
    0% {
        transform: translateX(0px);
        transform: translateY(0px);
    }

    50% {
        transform: translateX(10px);
        transform: translateY(3px);
    }

    100% {
        transform: translateX(0px);
        transform: translateY(0px);
    }

}

.criptoCoin-photo-slide2 {
    position: absolute;
    bottom: 72px;
    width: 201px;
    left: 920px;
    z-index: 100;
    animation: coin-bounce 5s ease-in-out infinite;
    z-index: 300;
}

.eterniumCoin-photo-slide2 {
    position: absolute;
    bottom: 20px;
    z-index: 400;
    width: 210px;
    right: 430px;
    animation: coin-bounce 5s ease-in-out infinite;
}

.bunny-photo-slide2 {
    position: absolute;
    width: 20%;
    right: 160px;
    z-index: 100;
    bottom: -32px;
   

}


/* THIRD SLIDE CAROUSEL */

.third-slide {

    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
    padding: 20px 15px;
    background: linear-gradient(261.24deg, rgba(158, 63, 253, 0.12) 27.61%, rgba(98, 61, 255, 0.25) 76.11%), linear-gradient(247.24deg, rgb(83, 222, 233) -16.43%, rgb(168, 129, 252) 92.15%);
    color: white;
}

#bunny-photo-slide3 {
    position: relative;
    left: 760px;
    bottom: 120px;
}

.button-third-slide {
    position: absolute;
}

.title-slide4 {
    position: absolute;
}

/* BUTTON */
.btn__dark__rounded3 {
    position: relative;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    border-style: none;
    background-color: #1fc7d4;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 1.5rem;
    height: 50px;
}

.btn__dark__rounded3:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded3>a {
    text-decoration: none;
    color: #191326;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.btn__dark__rounded3>a>svg {
    fill: #191326;
}

/* FOURTH SLIDE CAROUSEL  */

.fourth-slide {
    background: linear-gradient(128.04deg, rgb(187, 211, 251) -23.79%, rgb(75, 60, 255) 121.4%);
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;

}

.logo-ps-carousel {
    width: 140px;
    margin-top: 10px;
    margin-left: 20px;
}

#bunny-slide4 {
    width: 1000px;
    position: relative;
    bottom: 49px;
    left: 124px;
}

/* BUTTON */

/* FIFTH SLIDE CAROUSEL */

.fifth-slide {
    background: rgb(27, 31, 75);
    background: linear-gradient(0deg, rgba(27, 31, 75, 1) 4%, rgba(56, 14, 112, 1) 20%);
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
}

.bunny-photo-slide5 {
    width: 408px;
    position: relative;
    bottom: 42px;
    left: 710px;
}

.title-slide5 {
    position: absolute;
}

/* BUTTON */
.btn__dark__rounded5 {
    position: relative;

    border-radius: 15px;
    padding: 1rem 1.5rem;
    border-style: none;
    background-color: #1fc7d4;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 1.5rem;
    height: 50px;
}

.btn__dark__rounded5:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.btn__dark__rounded5>a {
    text-decoration: none;
    color: #191326;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.btn__dark__rounded5>a>svg {
    fill: #191326;
}

/* BUTTONS CAROUSEL SLIDES  */

.container-carousel-buttons {
    width: 100%;
    margin: auto;
}

.first-carousel-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-carousel-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ALL CAROUSEL BUTTONS SLIDE */

.carousel-buttons {
    cursor: pointer;
    height: 9px;
    width: 22px;
    margin-left: -4.4px;
    position: relative;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.363);
    display: inline-block;

}

.active,
.carousel-button:hover {
    background-color: #fff8f8;
}