*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.footerContainer{
    background-color: rgb(39 38 44);
    color: rgb(244 238 255);
}
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#about,
#help,
#developers {
    color: rgb(154 106 255);
    
}

.aboutSection,
.helpSection,
.developersSection {
    list-style-type: none;
}

.about, .help, .developers{
    margin-top: 40px;
}

.aboutSection :nth-child(1) {
    color: rgb(255 178 55);
    ;
}

.aboutSection li {
    margin-top: 10px;
    text-decoration: none;
}

.helpSection li {
    margin-top: 10px;
    text-decoration: none;
}

.developersSection li {
    margin-top: 10px;
    text-decoration: none;
}

.aboutSection :hover, .helpSection :hover, .developersSection :hover{
    cursor: pointer;
    text-decoration: underline;
}

.footerLogo{
    width: 150px;
    margin: 30px;
}
.twitterLogo, .telegramLogo, .redditLogo, .instaLogo, .githubLogo, .discordLogo, .youtubeLogo{
   fill: rgb(184 173 210);
   margin: 100px 10px;
   position: relative;
   left: 260px
}

